@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Ga+Maamli&display=swap');

*{
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

img{
    width: 100%;
    display: flex;
}

a{
    text-decoration: none;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #181818;
}

nav{
    max-width: 1200px;
    margin: auto;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.navbar {
    background-color: #0c0c0c;
}

.nav-logo{
    max-width: 140px;
}

.nav-links{
    list-style: none;
    display: flex;
    gap: 3rem;
    align-items: center;
    font-size: 1.2rem;
}

.link a{
    position: relative;
    padding-bottom: 0.75rem;
    color: #fff;
}

.link ::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #960000;
    transition: all 0.5s ease;
}

.link a:hover::after{
    width: 100%;
}

.link a:hover{
    color: #d30000;
}

.btn{
    padding: 1rem 2rem;
    font-size: 1rem;
    color: #fff;
    background-color: #d30000;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover{
    background-color: #960000;
}

.container{
    max-width: 1200px;
    margin: auto;
    padding: 3rem 2rem;
}

.blur{
    position: absolute;
    box-shadow: 0 0 1000px 50px #d30000;
    z-index: -100;
}

header{
    position: relative;
    padding-top: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

header .content h4{
    margin-bottom: 1rem;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
}

header .content h1{
    color: #fff;
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: 700;
    line-height: 4rem;
}

header .content h1 span{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 3px #960000;
}

header .content p{
    margin-bottom: 1rem;
    color: #d3d3d3;
}

header .image{
    position: relative;
}

header .image::before{
    content: "m";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    color: #960000;
    font-size: 36rem;
    font-weight: 500;
    line-height: 22rem;
    opacity: 0.5;
    z-index: -100;
    font-family: 'Dancing Script ';
}

header .image img{
    max-width: 600px;
    margin: auto;
}

section .header{
    margin-bottom: 1rem;
    color: #fff;
    text-align: center;
    font-size: 2.25rem;
    font-weight: 800;
}

.advantages{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2.5rem;
}

.advantages .card{
    background-color: #363333;
    padding: 1rem;
    border: 2px solid transparent;
    border-radius: 15px;
    transition: all 0.3s ease;
    margin-bottom: 1rem;
}

.advantages .card:hover{
    background-color: #363333;
    border-color: #fff;
}

.advantages .card span{
    display: inline-block;
    padding: 2px 9px;
    margin-bottom: 1rem;
    font-size: 2.75rem;
    color: #fff;
}

.advantages h4{
    color: #fff;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    font-weight: 600;
}

.advantages p{
    color: #ccc;
    font-size: 14px;
    margin-bottom: 1rem;
} 

.get{
    color: #fff;
    font-size: 1.3rem;
    font-weight: 400;
    text-align: center;
    transition: all 0.3s ease;
}

.get:hover{
    color: #d30000;
}

.certificate{
    margin-top: 2rem;
    padding-right: 4rem;
    padding-left: 4rem;
    /* display: grid;
    grid-template-columns: repeat(2,1fr); */
    gap: 2rem;
}

.certificate .card{
    background-color: #363333;
    padding: 1rem;
    border: 2px solid transparent;
    border-radius: 15px;
    transition: all 0.3s ease;
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
}

.certificate .card:hover{
    background-color: #363333;
    border-color: #fff;
}

.certificate .card img{
    position: relative;
}

.description h2{
    margin-bottom: 1rem;
    margin-top: 1rem;
    color: #fff;
    font-size: 24pt;
    font-weight: 700;
}

.description p{
    color: #e4e4e4;
    margin-bottom: 1rem;
    font-size: 1rem;
}

.description a{
    color: #3f0000;
    font-size: 13pt;
    font-weight: 800;
}

footer{
    position: relative;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
}

footer .coloumn .logo{
    max-width: 100px;
    margin-bottom: 2rem;
}

footer .coloumn p{
    color: #ccc;
    margin-bottom: 2rem;
}

footer .coloumn .socials{
    display: flex;
    align-items: center;
    gap: 0.9rem;
}

footer .coloumn .socials a{
    color: #ccc;
    border: 2px solid #ccc;
    padding: 5px 10px;
    font-size: 1.5rem;
    border-radius: 100%;
    transition: all 0.3s ease;
}

footer .coloumn .socials a:hover{
    color: #fff;
    font-weight: 2000;
    font-size: 1.6rem;
    background-color: #d30000;
    border-color: #d30000;
}

footer .coloumn h4{
    color: #fff;
    margin-bottom: 3rem;
    font-size: 1.2rem;
    font-weight: 500;
}

footer .coloumn > a{
    display: block;
    color: #ccc;
    margin-bottom: 1rem;
    transition: all 0.3s ease;
}

footer .coloumn > a:hover{
    color: #d30000;
}
